<mat-card *ngIf="todoService.getShowprofile()" class="profile-card">
  <form class="profile-form" >
    <mat-form-field class="profile-full-width">
      <textarea matInput [(ngModel)]="nameText" [ngModelOptions]="{standalone: true}" value={{nameText}} placeholder="Name"></textarea>
    </mat-form-field>
    <mat-form-field class="profile-full-width">
      <textarea matInput [(ngModel)]="emailText" [ngModelOptions]="{standalone: true}" value={{emailText}} placeholder="Email"></textarea>
    </mat-form-field>
    <!--<div class="input-wrapper">-->
    <!--<div><h4>Date/Time</h4></div>-->
    <!--<input [(ngModel)]="todoDate" [ngModelOptions]="{standalone: true}"-->
    <!--[owlDateTimeTrigger]="dtPicker1" [owlDateTime]="dtPicker1">-->
    <!--<owl-date-time #dtPicker1></owl-date-time>-->
    <!--</div>-->
    <div class="clearfix"></div>
    <div class="button-container">
      <button mat-raised-button color="primary" type="button" (click)="saveUser()">Save</button>
    </div>
  </form>
</mat-card>
