<form class="todo-form">
  <h4>New Task</h4>
  <mat-form-field class="todo-full-width">
    <textarea matInput [(ngModel)]="todoText" [ngModelOptions]="{standalone: true}" value={{todoText}} placeholder="Task Name"></textarea>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput [matDatepicker]="picker" placeholder="Date/Time" >
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</form>
