
.hero-container {
  width: 400px;
  margin: 0 auto;
}

.profile-container {
  position: relative;
  width: 100px;
  top: -325px;
  left: 300px;

}

figcaption {
  background: grey;
  padding: 10px 0;
  width: 400px;
  margin: 0 auto;
}

.date-container {
  width: 80%;
  margin: 0 auto;
  text-align: left;
}
