.todo-wrapper {
  margin: 0 auto;
  width: 800px;
  padding: 10px 0;
  background-color: #f8f8f8;
  border: 1px solid grey;
}

.todo-item-wrapper {
  margin: 0 auto;
  width: 800px;
}

.divider {
  height: 10px;
}

button {
  float: right;
  margin-bottom: 50px;
  margin-right: 50px;
}

.app-profile-wrapper {
  margin-top: -36px;
  height: 38px;
}
